<div class='grid-x grid-padding-x'>
  <div class="small-12 medium-12 large-12 cell">

    <div class='hero'>
      <div class='hero-content'>
        <h1>Library</h1>
        <p>Welcome to our pool or resources</p>
      </div>
    </div>
  </div>
  <div class="small-12 medium-8 large-8 cell library-body">
    <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
      <% @resource_items.each do |resource_item| %>
        <div class="cell">
          <div class='card'>
            <%= image_tag 'bookCover.png' %>
            <div class='card-section'>
              <strong><%= resource_item.title %></strong>
              <p><%= truncate(resource_item.short_summary, length: 100) {link_to 'open', resource_item_path(resource_item)} %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="small-12 medium-4 large-4 cell">
    <h3>Featured Resource</h3>
  </div>
</div>
