<p>
  <strong>Model:</strong>
  <%= @lens_shifter_profile.model %>
</p>

<%= link_to 'Edit', edit_lens_shifter_profile_path(@lens_shifter_profile) %> |
<%= link_to 'Back', lens_shifter_profiles_path %>
