html, body {
	height: 100%;
}

#main-container {
	min-height: 100%;
	padding-top: 25px;
	margin-bottom: -250px;
}

.hero {
	background: #e6e6e6;
	height: 250px;
	margin-bottom: 25px;
	padding: 50px;
}

.hero-content {
	margin: auto;
}

a {
	color: #8a8a8a !important;
}

.menu a {
	color: black !important;
}

.inline-form {
	display: inline-block;
}

.logo {
	width: 100px;
	max-height: 100%;
}

.footer, .push {
	height: 250px;
	background-color: #b0b0b0;
}