#main-container {
	padding-top: 25px;
}

.hero {
	background: #e6e6e6;
	height: 250px;
	margin-bottom: 25px;
	padding: 50px;
}

.hero-content {
	margin: auto;
}

a {
	color: #8a8a8a !important;
}

.menu a {
	color: black !important;
}