<div data-sticky-container>
  <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">LensShift</li>

      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Streams</a></li>
        <li><%= link_to 'Library', resource_items_path %></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</div>